venv
.venv/
*/.venv/

__pycache__/
*.pyc

.idea/
.vscode/

Detectron2/output/*
#!Detectron2/output/model_final.pth
!Detectron2/output/metrics.json
!Detectron2/output/eval_results.json
!Detectron2/output/coco_instances_results.json

data/
!output_saved/

pyvenv.cfg

.DS_Store
